OPENROUTER_API_KEY=

AGENT_1_MODEL=
AGENT_2_MODEL=
AGENT_3_MODEL=
AGENT_4_MODEL=
AGENT_5_MODEL=
AGENT_6_MODEL=                               
AGENT_7_MODEL=                               
AGENT_8_MODEL=                               
AGENT_9_MODEL=
